<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwitcherPanelCSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OverlayDropper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SwitcherPanelCSharp.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>10.0.0.10</value>
            </setting>
            <setting name="GameSource" serializeAs="String">
                <value>-1</value>
            </setting>
        </SwitcherPanelCSharp.Properties.Settings>
        <OverlayDropper.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>10.0.0.10</value>
            </setting>
        </OverlayDropper.Properties.Settings>
    </userSettings>
</configuration>